/*定义字体*/
/*header 字体*/
@font-face{
    font-family: header;
    src: url("../font/goya.ttf");
}

a{
    text-decoration: none;
}

.header{
    background-color: rgba(0, 0, 0, 0.2);
    height: 150px;
    margin: 0;
}
header>div{
    height: 150px;
    overflow: hidden;
}
header>div>div{
    top: 0;bottom: 0;
    height: 130px;
    width: 600px;
    margin-left: 35px;
    margin-top: 20px;
    font-family: header;
    font-size: 88px;
}
