body{
    margin: 1px;
    background-size: 100% 100%;
    background-image: url("../image/mainPageBackground.jpg");
    background-color: rgba(255, 250, 240, 0.8);
    background-repeat: no-repeat;
}

.column{
    width: 888px;
    background-color: rgba(255, 250, 240, 0.3);
    height: 50px;
    margin: 10px auto;
}

.mainChoice{
    text-align: center;
    width: 100px;
    margin: 15px 40px 0 40px;
    height: 48px;
    font-size: 18pt;
}

.mainContent{
    width: 888px;
    margin: 1px auto;
}

.mainContent .articleList{
    display: inline-block;
    width: 600px;
    overflow: hidden;
    border: 1px solid lightgray;
    background-image: url("../image/mainPageBackground2.jpg");
}

.myArticle{
    width: 580px;
    height: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px lightgray;
    margin: 10px auto;
}
.articleTitle{
    font-size: 16pt;
    height: 30px;
    margin: 0 5px;
}
.articleSummary{
    margin: 0 5px;
    height: 88px;
    font-size: 12pt;
    text-overflow: ellipsis;
    overflow: hidden;
}

.viewNum img, .commentNum img{
    width: 15px;
    height: 15px;
}

.viewNum, .commentNum{
    color: #888;
    display: inline-block;
    float: right;
    top: 5px;
    margin: 5px 10px 0 10px;
}

.articleSeries{
    background-color: rgba(255, 255, 255, 0.9);
    float: right;
    width: 280px;
    text-overflow: ellipsis;

}
.seriesLink{
    margin: 0 0 0 30px;
    font-size: 12pt;
}