body{
    margin: 1px;
    background-size: 100% 100%;
    background-image: url("../image/mainPageBackground.jpg");
    background-color: rgba(255, 250, 240, 0.8);
    background-repeat: no-repeat;
}
/*footer样式*/
footer{
    font-size: 8pt;
    color: gray;
    margin-top: 240px;
    background-color: rgba(255, 250, 240, 0.8);
}

footer>hr{
    margin: 0 50px 0 50px;
    color:cadetblue;
}

footer>a{
    margin: 0 50% 0 50%;
}

.column{
    width: 888px;
    background-color: rgba(255, 250, 240, 0.3);
    height: 50px;
    margin: 10px auto;
}

.mainChoice{
    text-align: center;
    width: 100px;
    margin: 15px 40px 0 40px;
    height: 48px;
    font-size: 18pt;
}

.mainContent{
    width: 888px;
    margin: 1px auto;
}

.mainContent .articleList{
    display: inline-block;
    width: 580px;
    overflow: hidden;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px lightgray;
    background-image: url("../image/mainPageBackground2.jpg");
}

.myArticle{
    width: 580px;
    height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 2px lightgray;
    background-image: url("../image/mainPageBackground2.jpg");
}
.articleTitle{
    font-size: 15pt;
    margin: 0 5px;
}
.articleSummary{
    margin: 0 5px;
    font-size: 12pt;
}

.articleSeries{
    background-color: rgba(255, 255, 255, 0.9);
    float: right;
    width: 300px;
    text-overflow: ellipsis;

}
.seriesLink{
    margin: 0 0 0 30px;
    font-size: 12pt;
}