 body{
    margin: 1px;
    background-size: 100% 100%;
    background-color: rgba(255, 250, 240, 0.8);
    background-repeat: no-repeat;
}

.mainMessage{
    width: 888px;
    margin: 0 auto;
}

.avatar{
    
}