body{
    margin: 1px;
    background-size: 100% 100%;
    background-image: url("../image/bamboo1.jpg");
}
/*footer样式*/
footer{
    font-size: 8pt;
    color: gray;
    margin-top: 240px;
}

footer>hr{
    margin: 0 50px 0 50px;
    color:cadetblue;
}

footer>a{
    margin: 0 50% 0 50%;
}

/*主页面的样式单*/
.mainSectiong{
    margin: 1px;
}
.mainForm{
    margin: 0 auto;
    max-width: 700px;
}
/*欢迎字*/
.content-tit{
    width: 100%;
    background-color: rosybrown;
    overflow: hidden;
    margin-top: 1px;
    height: 40px;
}


.content-tit>h1{
    margin: 0;
    top: 0; bottom: 0;
    font-size: 20pt;
    padding-left: 40px;
}


.wellcome-word{
    margin: 0 auto;
    font-size: 12pt;
    width: 700px;
    text-align: center;
}

/*红色星号*/
.txt-impt{
    color: #E0061C;
    text-align: left;
    overflow: hidden;
}
/*表单样式*/
dl{}
dt{
    position: absolute;
    display: inline-block;
    width: 100px;
    height: 48px;
    font-size: 13pt;
    overflow: hidden;
}
/*输入框样式*/
.Ipt{
    display: inline-block;
    margin: 0 0 0 100px;
    width: 240px;
    height: 20px;
    border-radius: 2px 2px 2px 2px;
}
/*输入框下面的提示样式*/
.input-tips{
    display: block;
    color: gray;
    font-size: 6pt;
    width: 240px;
    margin: 0 0 0 100px;
    overflow: hidden;
}
.sex-list{
    width: 100px;
    margin: 0 0 0 135px;
    overflow: hidden;
}
textarea{
    width: 493px;
    margin: 0 0 0 100px;
    font-size: 10pt;
}

.register-botton{
    margin-left: 333px;
    width: 150px;
    height: 50px;
    overflow: hidden;
}
